openapi: 3.1.0
info:
  title: David Chang API
  description: Programmatic way of interacting with me!
  version: 0.0.1
  summary: ''
  contact:
    name: David Chang
    url: 'https://davidchang.dev'
    email: email@davidchang.dev
  termsOfService: ''
  license:
    name: The MIT License
    url: 'https://opensource.org/license/mit/'
servers:
  - url: 'https://api.davidchang.dev'
    description: Production
paths:
  /resumes:
    get:
      operationId: getResumes
      summary: ''
      description: Get all resumes
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumesResponse'
    post:
      operationId: addResume
      summary: ''
      description: Add a new resume
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeResponse'
  '/resumes/{id}':
    get:
      operationId: getResumeById
      summary: ''
      description: Get resume by ID
      parameters:
        - name: id
          description: Autoincremented value uniquely identifying the resume
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeResponse'
        '404':
          description: Resume not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Resume:
      type: object
      properties:
        id:
          type: string
        year:
          type: integer
        URL:
          type: string
    ResumeRequest:
      type: object
      properties:
        year:
          type: integer
        URL:
          type: string
    ResumeResponse:
      allOf:
        - $ref: '#/components/schemas/Resume'
        - type: object
          properties:
            id:
              type: string
    ResumesResponse:
      type: array
      items:
        $ref: '#/components/schemas/Resume'
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
tags:
  - name: resume
    description: Resume data
