swagger: "2.0"
host: api.davidchang.dev
info:
  title: David Chang API
  version: 0.0.3

paths:
  "/webhook":
    get:
      summary: GET request for Node.js service
      operationId: getNodeJSData
      x-google-backend:
        address: https://dev-davidchang-api-webhook-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for GET request to Node.js service

    post:
      summary: POST request for Go service
      operationId: postNodeJSData
      x-google-backend:
        address: https://dev-davidchang-api-webhook-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for POST request to Go service

    put:
      summary: PUT request for Node.js service
      operationId: putNodeJSData
      x-google-backend:
        address: https://dev-davidchang-api-webhook-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for PUT request to Node.js service

    delete:
      summary: DELETE request for Node.js service
      operationId: deleteNodeJSData
      x-google-backend:
        address: https://dev-davidchang-api-webhook-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for DELETE request to Node.js service

    patch:
      summary: PATCH request for Node.js service
      operationId: patchNodeJSData
      x-google-backend:
        address: https://dev-davidchang-api-webhook-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for PATCH request to Node.js service

  "/{proxy}":
    get:
      summary: GET request for Go service
      operationId: getGoData
      x-google-backend:
        address: https://dev-davidchang-api-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for GET request to Go service

    post:
      summary: POST request for Go service
      operationId: postGoData
      x-google-backend:
        address: https://dev-davidchang-api-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for POST request to Go service

    put:
      summary: PUT request for Go service
      operationId: putGoData
      x-google-backend:
        address: https://dev-davidchang-api-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for PUT request to Go service

    delete:
      summary: DELETE request for Go service
      operationId: deleteGoData
      x-google-backend:
        address: https://dev-davidchang-api-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for DELETE request to Go service

    patch:
      summary: PATCH request for Go service
      operationId: patchGoData
      x-google-backend:
        address: https://dev-davidchang-api-oo452quldq-uc.a.run.app
        pathTranslation: APPEND_PATH_TO_ADDRESS
      responses:
        "200":
          description: Successful response
        default:
          description: Default response for PATCH request to Go service
